<a href="{{ _productObject.url }}" class="max-w-[250px] xl:max-w-xs block mx-auto">
  <div class="relative image-container">
    <svg
      class="{% if show_svg == false %} hidden {% endif %} absolute inset-y-0 -left-4 h-[95%] w-auto my-auto scale-[-1]"
      xmlns="http://www.w3.org/2000/svg"
      width="11.872"
      height="153.492"
      viewBox="0 0 3.141 40.611"
    >
      <path class="stroke-my-orange" style="fill:none;stroke-width:.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" d="M93.014 59.77s1.589-1.479 2.915 0v38.887s-1.165 1.75-2.915 0" transform="translate(-92.92 -58.951)"/>
    </svg>
    <svg
      class="{% if show_svg == false %} hidden {% endif %} absolute inset-y-0 -right-4 h-[95%] w-auto my-auto"
      xmlns="http://www.w3.org/2000/svg"
      width="11.872"
      height="153.492"
      viewBox="0 0 3.141 40.611"
    >
      <path class="stroke-my-orange" style="fill:none;stroke-width:.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" d="M93.014 59.77s1.589-1.479 2.915 0v38.887s-1.165 1.75-2.915 0" transform="translate(-92.92 -58.951)"/>
    </svg>
    {{
      _productObject.featured_image
      | image_url: width: 500
      | image_tag:
        loading: 'lazy',
        width: 500,
        height: 500,
        class: 'w-full rounded-md bg-my-pale-orange aspect-square object-cover relative'
    }}
  </div>
  <div class="text-center">
    <h6 class="text-lg font-bold mt-3 line-clamp-2">
      {{ _productObject.title }}
    </h6>
    <p>
      {{ _productObject.price | money_with_currency }}
    </p>
  </div>
</a>
