<div class="border-my-grayish-blue border-t">
  <div
    class="max-w-7xl mx-auto px-2 py-4 flex flex-col text-center md:py-8 lg:py-16"
  >
    <div class="max-w-xs">
      <h6 class="font-kumbh-sans text-3xl font-bold text-my-very-dark-blue mb-3">sneakers</h6>
      <p class="text-my-dark-grayish-blue">
        Our company is a shoe company, basically our service provide product sneakers
      </p>
    </div>
    <ul class="py-4 flex flex-col gap-2">
      <li class="font-bold mb-2">Product</li>
      <li class="text-my-dark-grayish-blue">
        <a href="">High Top</a>
      </li>
      <li class="text-my-dark-grayish-blue">
        <a href="">Slip-on</a>
      </li>
      <li class="text-my-dark-grayish-blue">
        <a href="">Synthetic</a>
      </li>
    </ul>
    <ul class="py-4 flex flex-col gap-2">
      <li class="font-bold mb-2">Product</li>
      <li class="text-my-dark-grayish-blue">
        <a href="">High Top</a>
      </li>
      <li class="text-my-dark-grayish-blue">
        <a href="">Slip-on</a>
      </li>
      <li class="text-my-dark-grayish-blue">
        <a href="">Synthetic</a>
      </li>
    </ul>
    <ul class="py-4 flex flex-col gap-2">
      <li class="font-bold mb-2">Site Map</li>
      <li class="text-my-dark-grayish-blue">
        <a href="">High Top</a>
      </li>
      <li class="text-my-dark-grayish-blue">
        <a href="">Slip-on</a>
      </li>
      <li class="text-my-dark-grayish-blue">
        <a href="">Synthetic</a>
      </li>
    </ul>
    <label class="font-bold" for="newletter">Join a Newsletter</label>
    <div class="grid grid-cols-[1fr_auto] items-center mt-3">
      <input class="bg-my-light-grayish-blue p-2 " placeholder="Input your email here" type="text">
      <button class="h-full bg-my-orange text-my-white">Next</button>
    </div>
  </div>
</div>
